
.fa-feather-alt {
	color: #ffffff;
	font-size: 56px;
}

.nav-link {
	color: white;
	letter-spacing: .5rem;
}

#link-yellow:hover {
	color: #cda20b;
}

.container {
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
}

.go-back, .next {
	color: #000;
	font-size: .8rem;
}

.go-back:hover {
	color: #cda20b;
	font-size: .8rem;
}

.next:hover {
	color: #cda20b;
	font-size: .8rem;
}

h1 {
	font-family: 'Righteous', cursive;
	font-size: 4rem;
	color: #cda20b;
	font-weight: 700;
	letter-spacing: .3rem;
	display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1:before,
h1:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h1:after {
    margin: 0 0 0 20px;
}

h2 {
	
	font-size: 2.5rem;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.8rem;
	font-weight: 600;
}

.artickle .firstP {
  	border-left: 5px solid #cda20b ;
	padding-left: 5px;
	line-height: 2;
}
.artickle p {
	line-height: 2.5;
}


.par-line {
    letter-spacing: 2px;
    color: #000;
    display: flex;
    position: relative;
    font-size: 2.5rem;
}
.line {
	display: flex;
    background: #cda20b;
    height: 2px;
    flex-grow: 100;
    margin-top: 4%;
    border-left: 40px solid #fff;
}


.bannerQuote {
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: 'Montserrat', sans-serif;
}

.bannerQuote-bold {
	font-size: 52px;
}
.normal {
	font-size: 14px;
	line-height: 2.5;
}

.bottom-space {
	height: 150px; 
	background-color: #343a40; 
	margin-top: 100px;
	
	
}

.footer {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

.footer-column {
	width: 30px;
	height: 30px;
	
}

.footer-column-right {
	width: 30px;
	height: 30px;
	font-size: 40px;

}


/*SECTION LATEST*/

.foto-latest {
	margin-top: 20px;
	padding: 10px 10px;
	text-align: center;
}

.item-foto {
	position: relative;
	overflow: hidden;
	width: 100%;

}

.item-text {
	position: absolute;
    width: 100%;
    bottom: 60px;
    background: rgba(255,255,255,0.75);
    color: #696969;
    text-align: center;
    padding: 15px 10px;
    margin: 25px 0px 0px;
    text-transform: uppercase;
}

.item-mini {
	position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    box-shadow: rgba(200, 200, 200, 0.3) 5px 5px 15px;
    top: -20px;
    margin: auto;
    background: #cda20b;
    padding: 10px 25px;
    font-size: .8em;
